body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: gray;
    display: flex;
    justify-content: center;
}

.container{
    width: 40%;
    height: 100%;
    background-color: white;
}
/*Header Styles*/

.headerSection{
    display: flex;
    justify-content: center;

}
.title{
    width: 40%;
    display: flex;
    flex-direction: row;
}
.title h3{
    width: 70%;
    color: rgb(217, 47, 47);
    font-size: 24px;
}
.logoHeader{
    width: 30%;
    height: 100%;
}
/*MAIN*/
/*main title styles*/
.imgMain{
    width: 100%;
    height: 40vh;
}
.imgPrincipal{
    width: 35%;
    height: 40%;
    position: absolute;
    left: 32.5%;
    top: 35%;
}
.imgMainFondo h2{
    z-index: 1;
    position: absolute;
    color: white;
    width: 15%;
    bottom: 50%;
    left: 35%;
}
.imgMainFondo p{
    z-index: 1;
    position: absolute;
    color: white;
    width: 20%;
    bottom: 40%;
    left: 35%;
    font-size:x-small;
}
.evacuationHackSection{
    background-color: rgb(232, 224, 224);
    height: 30%;
    margin-top: 100px;
}
.evacuationHackSection h2{
    text-align: center;
    margin: 0;
    padding: 10px;
}
.evacuationHackSection p{
    padding: 5px 10px;
    margin: 0;
}
.evacuationTip{
    margin: 0; 
}
.evacuationTip h2{
    text-align: center;
    margin: 0;
    padding: 10px;
}
.evacuationTip p{
    padding: 5px 10px;
    margin: 0;
}
.rmcSection{
    color: rgb(217, 47, 47);
    text-align: center;
}
.articlesSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.articlesSection p{
    padding: 5px;
}
.articlesSection h4{
    padding: 5px;
    font-size:20px;
}
.waterDamage{
    grid-column: 1;
    grid-row: 1;
    background-color: rgb(232, 224, 224);
}
.fireSmokeDamage{
    grid-column: 2;
    grid-row: 1;
    
}
.moldRemediation{
    grid-column: 1;
    grid-row: 2;
}
.environmentalRemediation{
    grid-column: 2;
    grid-row: 2;
    background-color: rgb(232, 224, 224);
}
.electronicsEquipment{
    grid-column: 1;
    grid-row: 3;
    background-color: rgb(232, 224, 224);
}
.construction{
    grid-column: 2;
    grid-row: 3;
}
.learnMoreButton{
    background-color: rgb(217, 47, 47);
    display: block;
    margin: 10px auto;
    border: none;
    padding: 4px 6px;
}
.allServicesButton{
    background-color: black;
    color: white;
    display: block;
    margin: 30px auto;
    font-size: 20px;
    padding: 10px 15px;
}
.branchManagerSection{
    background-color: rgb(232, 224, 224);
}
.branchManagerSection p{
    text-align: center;
    padding: 20px;
    font-size: 16px;
}